@import url('https://fonts.googleapis.com/css2?family=Sixtyfour+Convergence&display=swap');

.header{
    &_title {
        font-family: 'Sixtyfour Convergence', 'serif';
        text-align: center;
        margin: 5px 0 5px 0;
    }
}