
.todolist {
    margin: 0;
    &_title {
        font-family: 'Sixtyfour Convergence', 'serif';
        font-size: 20px;
        text-align: center;
        margin: 15px 0 5px 0;
    }
    &_list {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 0;
        list-style-type: none;
    }
}

.animate {
   &-enter{
    opacity: 0;
    transform: translateY(-20px);
    &-active {
        opacity: 1;
        transform: translateY(0);
        transition: opacity 300ms, transform 300ms;
    }
   }
   &-exit{
    opacity: 1;
    transform: translateY(0);
    &-active {
        opacity: 0;
        transform: translateY(20px);
        transition: opacity 300ms, transform 300ms;
    }
   } 
}